a:link {
	text-decoration: none; /* 指正常的未被访问过的链接*/
}

a:visited {
	text-decoration: none; /*指已经访问过的链接*/
}

a:hover {
	text-decoration: none; /*指鼠标在链接*/
}

a:active {
	text-decoration: none; /* 指正在点的链接*/
}

/* ===== 分页相关 ===== */
.pagination>span {
	font-size: 14px;
	padding-left: 10px;
	vertical-align: middle;
	color: #bdbcbc;
	line-height: 45px;
}

.pagination-lg>li>a {
	font-size: 14px;
}

.pagination>span a {
	text-decoration: none;
	cursor: pointer;
}

.pagination>span input {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

img.platform-logo {
	width: 65px;
	height: 23px;
}

.margin-bottom {
	margin-bottom: 5px;
}

.panel-more {
	color: white;
}

.btn-login {
	width: 100%;
}

/* ===== 物流相关 ===== */
.input-para {
	display: inline;
	width: 70px;
}

.remark-red {
	color: red;
}

.remark-green {
	color: green;
}

.error {
	color: red;
}

/* ===== 登录相关 ===== */
div.login {
	margin-top: 100px;
}

img.hidden {
	display: none;
}