<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
	
	<!-- 定时任务：图片上传任务 -->
	<bean id="quartzService" class="com.songxinjing.flyfish.service.QuartzService"></bean>
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="clockTgt"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzService" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>uploadImg</value>
		</property>
	</bean>
	<!-- 定义触发时间 -->
	<bean id="clockTm" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="clockTgt" />
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
			<!-- 每5分钟执行一次 -->
			<value>0 0/10 * * * ?</value>
		</property>
	</bean>

	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuartz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="clockTm" />
			</list>
		</property>
	</bean>
</beans>