<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">商品详情</h3>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"></div>
	<div class="panel-body">
		 <form class="form-horizontal" id="editForm" action="${rc.contextPath}/goods/save.html" method="post">
			<div class="form-group">
                <label class="col-sm-2 control-label">SKU</label>
                <p class="col-sm-4 form-control-static">$!{form.goods.sku}</p>
                <input name="sku" type="hidden" value="$!{form.goods.sku}"> 
                <label class="col-sm-2 control-label">父SKU</label>
                <p class="col-sm-4 form-control-static">$!{form.goods.parentSku}</p>
                <input name="parentSku" type="hidden" value="$!{form.goods.parentSku}"> 
            </div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">商品名称</label>
            	<div class="col-sm-4">
                	<input name="name" class="form-control" value="$!{form.goods.name}">
                </div>
            	<label class="col-sm-2 control-label">是否多款式</label>
            	<div class="col-sm-4">
	                <select name="isMoreSytle" class="form-control">
	                    <option value="">请选择</option>
	                    <option value="是" #if($!{form.goods.isMoreSytle}=='是') selected#end>是</option>
	                    <option value="否" #if($!{form.goods.isMoreSytle}=='否') selected#end>否</option>
	                </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否有样品</label>
                <div class="col-sm-4">
	                <select name="hasSample" class="form-control">
	                    <option value="">请选择</option>
	                    <option value="是" #if($!{form.goods.hasSample}=='是') selected#end>是</option>
	                    <option value="否" #if($!{form.goods.hasSample}=='是') selected#end>否</option>
	                </select>
                </div>
                <label class="col-sm-2 control-label">样品数量</label>
                <div class="col-sm-4">
                	<input name="sampleNum" class="form-control" value="$!{form.goods.sampleNum}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">大类名称</label>
                <div class="col-sm-4">
                	<input name="bigCataName" class="form-control" value="$!{form.goods.bigCataName}">
                </div>
                <label class="col-sm-2 control-label">小类名称</label>
                <div class="col-sm-4">
                	<input name="smallCataName" class="form-control" value="$!{form.goods.smallCataName}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">当前状态</label>
                <div class="col-sm-4">
	                <select name="state" class="form-control">
	                    <option value="">请选择</option>
	                    <option value="在售" #if($!{form.goods.state}=='在售') selected#end>在售</option>
	                    <option value="停售" #if($!{form.goods.state}=='停售') selected#end>停售</option>
	                </select>
                </div>
                <label class="col-sm-2 control-label">重量（G）</label>
                <div class="col-sm-4">
               		<input name="weight" class="form-control" value="$!{form.goods.weight}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">成本单件（元）</label>
                <div class="col-sm-4">
                	<input name="costPrice" class="form-control" value="$!{form.goods.costPrice}">
                </div>
                <label class="col-sm-2 control-label">批发价格（美元）</label>
                <div class="col-sm-4">
                	<input name="batchPrice" class="form-control" value="$!{form.goods.batchPrice}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">中文申报名</label>
                <div class="col-sm-4">
                	<input name="reportNameCn" class="form-control" value="$!{form.goods.reportNameCn}">
                </div>
                <label class="col-sm-2 control-label">英文申报名</label>
                <div class="col-sm-4">
                	<input name="reportNameEn" class="form-control" value="$!{form.goods.reportNameEn}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">申报价值（美元）</label>
                <div class="col-sm-4">
                	<input name="reportPrice" class="form-control" value="$!{form.goods.reportPrice}">
                </div>
                <label class="col-sm-2 control-label">开发日期</label>
                <div class="col-sm-4">
                	<input name="bussDate" class="form-control" value="$!{form.goods.bussDate}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">原产国代码</label>
                <div class="col-sm-4">
                	<input name="prodCountryCd" class="form-control" value="$!{form.goods.prodCountryCd}">
                </div>
                <label class="col-sm-2 control-label">原产国</label>
                <div class="col-sm-4">
                	<input name="prodCountryName" class="form-control" value="$!{form.goods.prodCountryName}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">业绩归属人1</label>
                <div class="col-sm-4">
                	<input name="bussOwner1" class="form-control" value="$!{form.goods.bussOwner1}">
                </div>
                <label class="col-sm-2 control-label">业绩归属人2</label>
                <div class="col-sm-4">
                	<input name="bussOwner2" class="form-control" value="$!{form.goods.bussOwner2}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">采购员</label>
                <div class="col-sm-4">
                	<input name="buyer" class="form-control" value="$!{form.goods.buyer}">
                </div>
                <label class="col-sm-2 control-label">采购到货天数</label>
                <div class="col-sm-4">
                	<input name="buyDayNum" class="form-control" value="$!{form.goods.buyDayNum}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">供应商1</label>
                <div class="col-sm-10">
                	<input name="url" class="form-control" value="$!{form.goods.url}">
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">供应商2</label>
                <div class="col-sm-10">
                	<input name="url2" class="form-control" value="$!{form.goods.url2}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">供应商3</label>
                <div class="col-sm-10">
                	<input name="url3" class="form-control" value="$!{form.goods.url3}">
                </div>
            </div>        
            
        </form>
	</div>
</div>
