<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">虚拟SKU列表</h3>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		  <button type="button" class="btn btn-info" onclick="window.open('${rc.contextPath}/excel/export/virtsku.html')">导出</button>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
	    	<table class="table table-striped table-bordered table-hover">
	    	  <thead>
			    <tr>
				  <th width="30%">SKU</th>
				  <th width="70%">虚拟SKU</th>
			    </tr>
			  </thead>
			  <tbody>
				#if(!$!{pageModel.recList} || $!{pageModel.recList.size()} == 0)
				<tr>
					<td colspan="11">
						<h3>无数据</h3>
					</td>
				</tr>
				#end 
				#foreach($rec in $!{pageModel.recList})
			        <tr>
			          <td>$!{rec.sku}</td>
					  <td>$!{rec.virtSkus}</td>
			        </tr>
				#end
			  </tbody>
			</table>
		</div>
		#parse("/base/page.vm")
	</div>
</div>

<script>

</script>