<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在前面，任何其他内容都*必须*跟随其后 -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="${rc.contextPath}/resources/image/favicon.ico" />
    <title>飞鱼ERP</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/metisMenu/2.7.0/metisMenu.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/image-picker/0.3.0/image-picker.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/zTree.v3/3.5.33/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">
	<link href="${rc.contextPath}/resources/base/css/base.css" rel="stylesheet" />
    <!-- jQuery文件，务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/metisMenu/2.7.0/metisMenu.min.js"></script>
    <script src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdn.bootcss.com/image-picker/0.3.0/image-picker.min.js"></script>
    <script src="https://cdn.bootcss.com/zTree.v3/3.5.33/js/jquery.ztree.all.min.js"></script>
    <script src="${rc.contextPath}/resources/base/js/base.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="${rc.contextPath}/index.html">飞鱼ERP</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>个人信息</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="${rc.contextPath}/logout.html"><i class="fa fa-sign-out fa-fw"></i>登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="${rc.contextPath}/index.html"><i class="fa fa-dashboard fa-fw"></i>总览</a>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>刊登管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="${rc.contextPath}/store/list.html">虚拟店铺</a>
                                </li>
                            </ul>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>在线产品<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <!--
                                <li>
                                    <a href="${rc.contextPath}/wish/storelist.html">Wish店铺</a>
                                </li>
                                 -->
                                 <li>
                                    <a href="${rc.contextPath}/joom/storelist.html">Joom店铺</a>
                                </li>
                            </ul>
                           
                            <!-- /.nav-second-level -->
                        </li>
						
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>商品管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="${rc.contextPath}/goods/list.html">商品列表</a>
                                </li>
                                <li>
                                    <a href="${rc.contextPath}/goods/relasku.html">关联SKU</a>
                                </li>
                                <li>
                                    <a href="${rc.contextPath}/goods/virtsku.html">虚拟SKU</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						
						<li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>物流管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="${rc.contextPath}/logisprod/list.html">物流产品管理</a>
                                </li>
                                <li>
                                    <a href="${rc.contextPath}/logis/list.html">物流方式列表</a>
                                </li>
								<li>
                                    <a href="${rc.contextPath}/weight/list.html">国家权重设置</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>参数管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
								<li>
                                    <a href="${rc.contextPath}/exchange/list.html">汇率管理</a>
                                </li>
								<li>
                                    <a href="${rc.contextPath}/platform/list.html">平台管理</a>
                                </li>
                                <li>
                                    <a href="${rc.contextPath}/country/list.html">国家管理</a>
                                </li>
								<li>
                                    <a href="${rc.contextPath}/domain/list.html">域名管理</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						<li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>系统管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="${rc.contextPath}/user/list.html">用户管理</a>
                                    <a href="${rc.contextPath}/system/cache.html">缓存管理</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            $screen_content
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    #parse("/base/modal.vm")
	<footer>
        <div class="col-xs-12 text-center">
            <p>©&nbsp;2018&nbsp;&nbsp;飞鱼ERP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备18003437号-1</p>
        </div>
	</footer>
</body>

</html>