<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">物流方式列表</h1>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
	    	  <thead>
			    <tr>
			      <th></th>
			      <th>物流产品</th>
			      <th>发货国家</th>
			      <th>计费说明</th>
			      <th>100克加权费用</th>
			      <th>最后更新人</th>
			      <th>最后更新时间</th>
				  <th>操作</th>
			    </tr>
			  </thead>
			  <tbody>
			 </
	    	<table class="table table-striped table-bordered table-hover">
	    	  <thead>
			    <tr>
			      <th></th>
			      <th>物流产品</th>
			      <th>发货国家</th>
			      <th>计费说明</th>
			      <th>100克加权费用</th>
			      <th>最后更新人</th>
			      <th>最后更新时间</th>
				  <th>操作</th>
			    </tr>
			  </thead>
			  <tbody>
				
				#foreach($rec in $!{pageModel.recList})
			        <tr>
			          <td>$!{rec.name}</td>
			          <td>$!{rec.country.name}</td>
			          <td>#if($!{rec.method} == 1) 费用=$!{rec.paraA}*重量 +$!{rec.paraB} 
							#elseif($!{rec.method} == 2) 如果重量小于$!{rec.paraX}克，费用=$!{rec.paraC}，否则，费用=$!{rec.paraD}*重量
								#else 无费用说明 #end
					  </td>
			          <td>$!{rec.fee100}</td>
			          <td>$!{rec.modifyer}</td>
			          <td>$!{rec.modifyTime}</td>
					  <td></td>
			        </tr>
				#end
			  </tbody>
			</table>
			 </tbody>
			</table>
		</div>
	</div>
</div>
