<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Joom店铺【$!{store.name}】-在线商品列表</h3>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<button type="button" class="btn btn-info margin-bottom" onclick="window.location.href='${rc.contextPath}/joom/productlist.html?storeId=$!{store.id}'">查询</button>
		<button type="button" class="btn btn-success margin-bottom" onclick="sync('$!{store.id}')">同步</button>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
	    	  <thead>
			    <tr>
			      <th width="60px">图片</th>
			      <th>标题/产品ID</th>
			      <th width="60px">收藏</th>
				  <th width="60px">出售</th>
				  <th width="100px">Parent SKU</th>
				  <th width="100px">SKU</th>
				  <th width="60px">价格</th>
				  <th width="60px">库存</th>
				  <th width="60px">运费</th>
				  <th width="100px">时间</th>
				  <th width="60px">操作</th>
			    </tr>
			  </thead>			  
			  <tbody>
				#if(!$!{pageModel.recList} || $!{pageModel.recList.size()} == 0)
				<tr>
					<td colspan="11">
						<h3>无数据</h3>
					</td>
				</tr>
				#end 
				#foreach($product in $!{pageModel.recList})
				<tr>
					<td rowspan="$!{product.variants.size()}">
					#if("$!{product.mainImage}" != "") 
						<img height="50px" width="50px" src="$!{product.mainImage}"/>
					#end
					</td>
					<td rowspan="$!{product.variants.size()}">$!{product.name}<br/>$!{product.wishId}</td>
					<td rowspan="$!{product.variants.size()}">$!{product.numberSaves}</td>
					<td rowspan="$!{product.variants.size()}">$!{product.numberSold}</td>
					<td rowspan="$!{product.variants.size()}">$!{product.parentSku}</td>
				#foreach($variant in $!{product.variants}) 
					#if($velocityCount == 1)
					<td>$!{variant.sku}</td>
					<td>$!{variant.price}</td>
					<td>$!{variant.inventory}</td>
					<td>$!{variant.shipping}</td>
					<td rowspan="$!{product.variants.size()}">创建：<br/>$!{product.dateUploaded}<br/>更新：<br/>$!{product.lastUpdated}</td>
					<td rowspan="$!{product.variants.size()}">编辑<br/>同步<br/>更多</td>
				</tr>
					#else
				<tr>
					<td>$!{variant.sku}</td>
					<td>$!{variant.price}</td>
					<td>$!{variant.inventory}</td>
					<td>$!{variant.shipping}</td>
                </tr> 
					#end
				#end
				#end
			 </tbody>
			</table>
		</div>
		#parse("/base/page.vm")
	</div>
</div>



<script>
  
  function sync(storeId) { 
		$.ajax({
			cache: true,
			type: "GET",
			url: "${rc.contextPath}/joom/sync.html?storeId="+storeId,
			async: false,
			success: function (data) {
				base.alert("后台已安排同步，请稍后查看!");
			}
		});
	}
	
</script>
