<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">Joom店铺列表</h3>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<button type="button" class="btn btn-success margin-bottom" data-toggle='modal' data-target='#addModal'>添加授权</button>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
	    	  <thead>
			    <tr>
			      <th>店铺名称</th>
			      <th>授权状态</th>
            	  <th>操作</th>
			    </tr>
			  </thead>			  
			  <tbody>
				 #foreach($rec in $!stores)
			        <tr>
			          <td>$!{rec.name}</td>
			          <td>#if ($!{rec.merchantId}) 已授权 #else 未授权 #end</td>
					  <td>
					    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modifyModal" 
					    data-id="$!rec.id" 
					    data-name="$!rec.name" 
					    >修改</button>
					    <button type="button" class="btn btn-danger btn-sm" onclick="reauth('$!rec.id')">重新授权</button>
						<button type="button" class="btn btn-info btn-sm" onclick="window.location.href='${rc.contextPath}/joom/productlist.html?storeId=$!{rec.id}'">在线产品列表</button>
					  </td>
			        </tr>
				#end
			 </tbody>
			</table>
		</div>
	</div>
</div>

<!-- add Modal-->
<div id="addModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">店铺授权</h4>
      </div>
      <div class="modal-body">
         <form id="addForm" action="${rc.contextPath}/joom/storeadd.html" method="post">
			<div class="form-group">
                <label>店铺名称</label>
                 <input class="form-control" name="name" maxlength="30" required>
            </div>
            <div class="form-group">
                <label>客户端ID</label>
                 <input class="form-control" name="clientId" minlength="16" maxlength="16" required>
            </div>
            <div class="form-group">
                <label>客户端密钥</label>
                 <input class="form-control" name="clientSecret" minlength="32" maxlength="32" required>
            </div>
            <div class="form-group">
                <label>填写帮助</label>
                <p class="form-control-static">
                	<img width="400px" src="${rc.contextPath}/resources/image/help1.png"/>
                	<img width="400px" src="${rc.contextPath}/resources/image/help2.png"/>
                </p>
            </div>
	     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="confirm-yes btn btn-primary" id="btnAdd">开始授权</button>
        <button type="button" class="confirm-no btn btn-danger" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- modify Modal-->
<div id="modifyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改店铺</h4>
      </div>
      <div class="modal-body">
         <form id="modifyForm" action="${rc.contextPath}/joom/storemodify.html" method="post">
			<input name="id" type="hidden" id="id"> 
			<div class="form-group">
                <label>店铺名称</label>
                 <input id="name" class="form-control" name="name" maxlength="30" required>
            </div>
	     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="confirm-yes btn btn-primary" id="btnModify">提交</button>
        <button type="button" class="confirm-no btn btn-danger" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<script>
  $().ready(function() {
  	$("#addForm").validate();
    $("#modifyForm").validate();
  });
  
  $("#btnModify").on("click", function () {
     $("#modifyForm").submit();
  })
  
  $("#btnAdd").on("click", function () {
     $("#addForm").submit();
  })
  
  $("#modifyModal").on("show.bs.modal", function (event) {
	  var button = $(event.relatedTarget);
	  var id = button.data("id");
	  var name = button.data("name");
	  var modal = $(this)
	  modal.find("#id").val(id);
	  modal.find("#name").val(name);
  })
  
  function reauth(id) {
	 window.location.href="${rc.contextPath}/joom/reauth.html?id="+id;
  }
	
</script>
