<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">国家权重列表</h3>
	</div>
</div>

<ul class="nav nav-tabs">
	#foreach($plat in $!platforms)
		<li #if($plat.id == $platId) class="active"  #end>
			<a href="${rc.contextPath}/weight/list.html?platId=$!plat.id">$!plat.name</a>
		</li>
	#end
</ul>

<div class="panel panel-default">
	<div class="panel-heading">
		<button type="button" class="btn btn-success margin-bottom" data-toggle='modal' data-target='#addModal'>新增</button>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
	    	  <thead>
			    <tr>
			      <th>发货国家</th>
			      <th>权重</th>
			      <th>最后更新人</th>
            	  <th>最后更新时间</th>
            	  <th>操作</th>
			    </tr>
			  </thead>			  
			  <tbody>
				 #foreach($rec in $!weights)
			        <tr>
			          <td>$!{rec.country.name}</td>
			          <td>$!{rec.rate}%</td>
			          <td>$!{rec.modifyer}</td>
			          <td>$!{rec.modifyTm}</td>
					  <td>
					    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modifyModal" 
					    data-id="$!rec.id" 
					    data-countryid="$!rec.country.id" 
					    data-countryname="$!rec.country.name" 
					    data-platformid="$!rec.platform.id"
					    data-platformname="$!rec.platform.name"
					    data-rate="$!rec.rate" 
					    >修改</button>
					    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='${rc.contextPath}/weight/del.html?id=$!rec.id'">删除</button>
					  </td>
			        </tr>
				#end
			 </tbody>
			</table>
		</div>
	</div>
</div>

<!-- add Modal-->
<div id="addModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新增国家权重</h4>
      </div>
      <div class="modal-body">
         <form id="addForm" action="${rc.contextPath}/weight/add.html" method="post">
			<div class="form-group">
                <label>选择平台</label>
                <select name="platformId" class="form-control">
					#foreach($!platform in $!platforms)
                    <option value="$!{platform.id}">$!{platform.name}</option>
					#end
                </select>
            </div>
			<div class="form-group">
                <label>选择发货国家</label>
                <select name="countryId" class="form-control">
					#foreach($!country in $!countries)
                    <option value="$!{country.id}">$!{country.name}</option>
					#end
                </select>
            </div>
           <div class="form-group">
                <label>平台权重</label>
                 <input class="form-control  input-para" name="rate" number="true" maxlength="6" max="100" required>%
            </div>
	     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="confirm-yes btn btn-primary" id="btnAdd">提交</button>
        <button type="button" class="confirm-no btn btn-danger" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- modify Modal-->
<div id="modifyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改国家权重</h4>
      </div>
      <div class="modal-body">
         <form id="modifyForm" action="${rc.contextPath}/weight/modify.html?platId=$platId" method="post">
			<input name="id" type="hidden" id="id"> 
         	<input name="platformId" type="hidden" id="platformId">
         	<input name="countryId" type="hidden" id="countryId"> 
			<div class="form-group">
                <label>平台</label>
                <p class="form-control-static" id="platformName"></p>
            </div>
			<div class="form-group">
                <label>发货国家</label>
                <p class="form-control-static" id="countryName"></p>
            </div>
           <div class="form-group">
                <label>平台权重</label>
                 <input id="rate" class="form-control input-para" name="rate" number="true" maxlength="6" max="100" required>%
            </div>
	     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="confirm-yes btn btn-primary" id="btnModify">提交</button>
        <button type="button" class="confirm-no btn btn-danger" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<script>
  $().ready(function() {
    $("#addForm").validate();
    $("#modifyForm").validate();
  });

  $("#btnAdd").on("click", function () {
     $("#addForm").submit();
  })
  
   $("#btnModify").on("click", function () {
     $("#modifyForm").submit();
  })
  
  $("#modifyModal").on("show.bs.modal", function (event) {
	  var button = $(event.relatedTarget);
	  var id = button.data("id");
	  var platformId = button.data("platformid");
	  var platformName = button.data("platformname");
	  var countryId = button.data("countryid");
	  var countryName = button.data("countryname");
	  var rate = button.data("rate");
	  var modal = $(this)
	  modal.find("#id").val(id);
	  modal.find("#platformId").val(platformId);
	  modal.find("#platformName").text(platformName);
	  modal.find("#countryId").val(countryId);
	  modal.find("#countryName").text(countryName);
	  modal.find("#rate").val(rate);
	})
</script>
