<div class="row">
	<div class="col-md-12">
		<h3 class="page-header">【$!{store.platform.name}-$!{store.name}】商品信息列表</h3>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="col-md-12">
		<form class="form-horizontal" >
			<div class="form-group">
				<label class="col-sm-2 control-label">选择批次号：</label>
				<div class="col-sm-3">
					<select name="batchNo" class="form-control" id="batchNoSelect">
	                #foreach($!batOpt in $!batchNos)
						<option value="$!batOpt" #if($!batOpt==$!batchNo) selected#end>$!batOpt</option>
					#end
	            	</select>
	            </div>
	            <div class="col-sm-7">
	            	<button type="button" class="btn btn-danger" onclick="removeall('$!{store.id}','$!{batchNo}')">移除批次</button>
					#if($!dataFlag == "true")
						<button type="button" class="btn btn-info" onclick="window.open('${rc.contextPath}/export.html?storeId=$!{store.id}&batchNo=$!{batchNo}')">$!{store.platform.name}导出</button>
					 #end
				</div>
			</div>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<ul class="nav nav-tabs">
		<li #if($!dataFlag == "true") class="active"  #end>
			<a href="${rc.contextPath}/publish/list.html?storeId=$!{store.id}&batchNo=$!{batchNo}&dataFlag=true">数据完整</a>
		</li>
		<li #if($!dataFlag == "false") class="active"  #end>
			<a href="${rc.contextPath}/publish/list.html?storeId=$!{store.id}&batchNo=$!{batchNo}&dataFlag=false">数据不完整</a>
		</li>
	</ul>

	<div class="panel-body">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th width="115px">操作</th>
					<th width="60px">Listing<br>主图</th>
					<th width="60px">SKU<br>主图</th>
					<th width="60px">虚拟SKU</th>
					<th width="80px">虚拟<br>商品编码</th>
					<th width="60px">SKU</th>
					<th >标题</th>
					<th width="100px">商品<br>名称</th>
					<th width="60px">重量<br>（G）</th>
					<th width="60px">成本<br>（元）</th>
					<th width="80px">售价<br>（美元）</th>	
				</tr>
			</thead>
			<tbody>
				#if(!$!goodsForms || $!{goodsForms.size()} == 0)
				<tr>
					<td colspan="12">
						<h3>无数据</h3>
					</td>
				</tr>
				#end #foreach($rec in $!goodsForms)
				<tr>
					<td>
						<button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='${rc.contextPath}/goods/edit.html?sku=$!{rec.goods.sku}'">修改</button>
						<button type="button" class="btn btn-danger btn-sm" onclick="remove('$!{store.id}','$!{rec.goods.sku}','$!dataFlag')">移除</button>
					</td>
					<td>
					#if("$!{rec.goodsImg.mainImgUrl}" != "") 
						<img height="40px" width="40px" src="http://www.bentain.site/$!{rec.goodsImg.mainImgUrl}"/>
					#end
					</td>
					<td>
					#if("$!{rec.goodsImg.vMainImgUrl}" != "") 
						<img height="40px" width="40px" src="http://www.bentain.site/$!{rec.goodsImg.vMainImgUrl}"/>
					#end
					</td>
					<td>$!{rec.listingSku}</td>
					<td>$!{rec.listingParentSku}</td>
					<td>$!{rec.goods.sku}</td>
					<td>
						#if("$!{rec.titleRed}" == "true") 
							<div style="color:red">$!{rec.platformTitle}</div>
						#else
							$!{rec.platformTitle}
						#end
					</td>
					<td>$!{rec.goods.name}</td>
					<td>$!{rec.goods.weight}</td>
					<td>$!{rec.goods.costPrice}</td>
					<td>$!{rec.platformPrice}</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>
</div>
<script>
	
	$("#batchNoSelect").on("change", function () {
		var batchNo = $(this).children('option:selected').val();
		window.location.href="${rc.contextPath}/publish/list.html?storeId=$!{store.id}&batchNo=" + batchNo;
	})
	
	function remove(storeId,sku) {
		base.confirm("您确定要从店铺中移除该商品吗？",function () {
			window.location.href="${rc.contextPath}/publish/remove.html?storeId="+storeId+"&sku="+sku;
		});
	}
	
	function removeall(storeId,batchNo) {
		base.confirm("您确定要从店铺中移除该批次所有商品吗？",function () {
			window.location.href="${rc.contextPath}/publish/removeall.html?storeId="+storeId+"&batchNo="+batchNo;
		});
	}

</script>